.wrapper {
    max-width: 960px;
    margin: 0 auto;
}

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.panel {
    aspect-ratio: 1 / 1;
    border: 1px solid black;
    flex: 1 0 5.95%;
}

.panel--bg-color-green {
    background: green;
}

.button {
    padding: 12px 24px 12px 24px;
    background: lightcyan;
    border: 1px solid silver;
    border-radius: 5px;
}

.button:hover {
    background: PaleTurquoise;
    cursor: pointer;
}