.wrapper {
    max-width: 95vh;
    margin: 0 auto;
}

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.panel {
    aspect-ratio: 1 / 1;
    border: 1px solid black;
    flex: 1 0 6%;
}